.modal {
  margin-top: 20px;
  width: 80%;
  max-width: 700px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
